:root {
    --deep-black: rgb(28, 28, 33);
    --spaceship-white: rgb(242, 247, 247);
    --tech-blue: rgb(0, 188, 235);
    --race-orange: rgb(252, 116, 25);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: monospace;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 2.5rem;
    background-color: black;
    color: var(--tech-blue);
}

img {
    width: 80px;
    height: 80px;
}

.initial-background {
    width: clamp(600px, 50%, 1200px);
    height: inherit;
    margin: 0 auto;
    background-color: var(--deep-black);
}

.start-btn {
    width: clamp(400px, 80%, 800px);
    height: 20%;
    margin: 100px 10% 0;
    font-size: 8rem;
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid gray;
    border-bottom: 5px solid gray;
    background-color: var(--race-orange);
    color: var(--spaceship-white);
}

.start-btn:active {
    border-top: 5px solid gray;
    border-left: 5px solid gray;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    background-color: rgb(252, 104, 6);
}

.game-mode-display {
    margin: 0 10%;
}

.opponent-gallery {
    margin: 0 10%;
    padding: 30px 10px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; 
}

.opponent-card {
    outline: 1px solid var(--tech-blue);
    width: clamp(60px, 25%, 120%);
    height: 200px;
    margin: 0 20px 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.opponent-card:hover {
    background-color: rgba(75, 74, 74, 0.829);
}

.opponent-card:active {
    background-color: rgba(75, 74, 74, 1);
}

.game-panel {
    width: clamp(860px, 80%, 1600px);
    height: inherit;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--deep-black);
    display: flex;
    justify-content: space-between;
}

.game-panel-left {
    width: clamp(350px, 42%, 650px);
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.player-fleet-display, .enemy-fleet-display {
    margin-top: 18px;
    padding: 2px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 6px;
}

.player-fleet-display > div, .enemy-fleet-display > div {
    margin: 0 16px;
    display: flex;
}

.ship-hull-block {
    width: 22px;
    height: 22px;
    border-radius: 4px;
    margin: 2px;
    background-color: var(--spaceship-white);
}

.home-board, .targeting-board {
    margin: 0 10%;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 10fr;
}

.home-board-number-coordinates, .targeting-board-number-coordinates {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    align-items: center;
}

.home-board-letter-coordinates, .targeting-board-letter-coordinates {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    justify-items: center;
    align-items: center;
}

.home-board-blocks, .targeting-board-blocks {
    border: 1px solid gray;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1px;
}

.home-board-block, .targeting-board-block {
    background-color: black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.target-grid-block {
    border: solid 1px var(--race-orange);
    color: var(--spaceship-white);
}

.flashing-background {
    animation: flash 1.3s infinite;
}

@keyframes flash {
    0% {
        background-color: rgb(75, 74, 74);
    }
    50% {
        background-color: var(--spaceship-white);
    }
    100% {
        background-color: rgb(75, 74, 74);
    }
}

.firing {
    animation: firing 0.3s;
}

@keyframes firing {
    0% {
        width: 0px;
        background-color: var(--race-orange);
    }
    100% {
        background-color: var(--race-orange);
    }
}

.undamaged-hull {
    background-color: var(--spaceship-white);
}

.damaged-hull {
    background-color: var(--race-orange);
}

.empty-grid-block {
    border: solid 1px var(--tech-blue);
}

.game-panel-right {
    width: clamp(550px, 55%, 800px);
    height: 100%;
}

.targeting-board {
    height: 65%;
}

.how-to-play-display {
    height: 25%;
    margin-top: 15px;
    color: var(--race-orange);
}

.how-to-play-instrucitons {
    height: 85%;
    border: 1px solid var(--race-orange);
    padding: 8px;
    font-size: 1.5rem;
    overflow: auto;
}

.how-to-play-span {
    background-color: rgba(211, 211, 211, .1);
    border-radius: 4px;
}

.instruction-controls {
    display: flex;
    flex: row nowrap;
}

.instructions-btn {
    display: flex;
    flex: row nowrap;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--race-orange);
    border-bottom: 1px solid var(--race-orange);
    border-right: 1px solid var(--race-orange);
    width: 40px;
    height: 40px;
}